* {
    box-sizing: border-box; 
}
html {
    min-height: 100vh;
}

body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-style: oblique;
    text-align: center;
    color: White;
    font-size: 8vmin;
    margin: 10px;
}   

h2 {
    font-size: 6vmin;
    font-style: oblique;
    color: White;
    margin: 5px;
}

#timer{
    background-color: darkblue;
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    font-size: 26px;
    color: white;
    display: inline-block;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    color: aqua;
    gap: 10px;
    margin: 10px;
    transform: translate (-50%, -50%);
    left: 50%;
    top: 50%;
}

.cardsBack {
    height: 170px;
    width: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    background-image: url("../images/Fish.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    object-fit: cover;
}

cards.front {
    display: flex;
    justify-content: center;
    transform: rotateY(180deg);
    align-items: center;
}

.cards.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.actions {
    display: flex;
    align-content: center;
    justify-items: center;
}

button {
    background-color: darkblue;
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 26px;
}